<chart [options]="options"></chart>

<div class="edubackground">
    <div class="sectionHeader">
        <span style="border-bottom: 5px solid rgb(0, 255, 0);">Educational Description</span>
    </div>
    <div class="container explain">
        <p>I did my schooling at <i>Sri Viday Vikas School,</i> Vidyanagar, Andhra Pradesh, India. I got a state level
            first rank in a talent conducted by a non-profit organization named SAST.
            I had participated in many science fares when I was in school. I completed it with 9.2 out of 10 </p>
        <p>Then I went to pursue my intermediate at <i>Sri Gayatri Junior College,</i> Nellore, Andhra Pradesh, India. I
            had successfully completed it with a 94.5 percentage</p>
        <p>I am very much interested in Computers and that drove me to pursue <b>Computer Science Engineering</b> from
            <i>Hindustan University,</i> Chennai, TamilNadu, India.
            I had shown my presence since the inception of my study with my sublime marks and activeness in taking new
            initiatives. I topped the college with 9.72 C.G.P.A</p>
        <p>
            For anyone who observed the above graph it is clear that my grades are constantly increasing overtime. This clearly depicts that I constantly focuses on my 
            negatives and try hard to make myself as better person for tomorrow on comparing with yesterday. <i>S.W.O.T </i>analysis is one of my tool of success. 
        </p>
    </div>
</div>

<div>
    <div class="sectionHeader">
        <span style="border-bottom: 5px solid rgb(0, 255, 0);">Experience</span>
    </div>
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4" style="text-align: right;">
                <img src="assets/internship.png" alt="" style="width: 150px;">
            </div>
            <div class="col-md-8 explain" style="padding-top: 20px;">
                <p>I did my internship T <i>Heuristic Innovations,</i> Chennai, India. It is a startup company which
                    focuses
                    on Machine Learning and Web Development. To be specific, it focuses more on Natural Language
                    Processing. In that
                    company I had worked on different NLP algorithms and techniques that experience helped me a lot to
                    complete my
                    final project in U.G. Along with that I did worked with python Django. I had worked here for three
                    months.</p>
            </div>
        </div>
        <hr style="color: black;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 explain" style="padding-top: 30px; text-align: right;">
                <p>I got first employed at ValueLabs, Hyderabad, India. That is an MNC with 5000+ employees. I was
                    selected as an <i>N-Bander</i> that is a
                    type of interview process in which probability of getting selected is 0.002 i.e., 1 out of 500
                    attended.</p>
                <p>Since it is an MNC I got an opportunity to work in a big team. As a result, I got experienced with
                    team and project management </p>
                <p>I am working as a <i>Full-Stack web developer</i> and I am in this company since 2019 April.
                    Moreover, I am also handling Data Science projects out of interest.</p>
            </div>
            <div class="col-md-2" style="text-align: left;">
                <img src="assets/employee.png" alt="" height="200px">
            </div>
        </div>
        <hr style="color: black;">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-4" style="text-align: right;">
                <img src="assets/freelancer.png" alt="" width="150px">
            </div>
            <div class="col-md-8 explain" style="padding-top: 20px;">
                <p>
                    I worked as a freelancer mostly I worked as a developer at this phase. To be specific, I worked with Django, Javasript, Angular, Node, MongoDB.
                    I am an active local freelancer when I was pursuing my Under Graduate degree. However, now I am a full time employee so, not taking any of the 
                    freelancing work loads.
                </p>
            </div>
        </div>
    </div>
</div>

<div style="border-bottom: 20px;">
    <div class="container">
        <div class="sectionHeader">
            <span style="border-bottom: 5px solid rgb(0, 255, 0);">Certification</span>
        </div>
        <app-certificates></app-certificates>
    </div>
</div>

<div style="background-color: #fcf8e8; border-bottom: 20px; padding-bottom: 40px;">
    <div class="container">
        <div class="sectionHeader">
            <span style="border-bottom: 5px solid rgb(0, 255, 0);">Projects</span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-card>
                    <ng-container front>
                        <h1 class="cardHeader"> Acquire </h1>
                        <div class="cardContent">
                            <p>
                                It is an enterprise level real estate application.
                            </p>
                            <p>
                                This application let's user to keep track of the civil projects they are going to buy.
                                Along with that it will analyze more than 50 risk factors and let the user to take an
                                prudent decision.
                            </p>
                        </div>
                    </ng-container>
                    <ng-container back>
                        <h1 class="cardHeader">Tech Stack</h1>
                        <div class="cardContent">
                            <p>Angular (FrontEnd)</p>
                            <p>Node JS(Back End)</p>
                            <p>HTML & CSS</p>
                            <p>MongoDB(DataBase)</p>
                            <p>ExpressJS</p>
                            <p>SalesForce(User Management)</p>
                            <p>WSO2(Security management)</p>
                            <p>Google Cloud API's</p>
                        </div>
                    </ng-container>
                </app-card>
            </div>
            <div class="col-md-3">
                <app-card>
                    <ng-container front>
                        <h1 class="cardHeader"> Asset 360 </h1>
                        <div class="cardContent" style="font-size: 13px;">
                            <p>
                                It is an enterprise level real estate application. This combines a lot projects.
                            </p>
                            <p>
                                As the name suggests this is a one stop solution for a seller or a buyer. This project
                                gives user an opportunity to load the properties he interested in. Then he analyze
                                involved risks.
                                If the user want to buy he can analyze and come to know the best way of paying. Once he
                                bought he can
                                analyze and see how to put the property into work. He can keep track of renovation
                                activities. Finally
                                if want to sell he can find best price using the algorithms.
                            </p>
                        </div>
                    </ng-container>
                    <ng-container back>
                        <h1 class="cardHeader">Tech Stack</h1>
                        <div class="cardContent">
                            <p>Single-Spa</p>
                            <p>Micro Frontend</p>
                            <p>Angular (FrontEnd)</p>
                            <p>Node JS(Back End)</p>
                            <p>HTML & CSS</p>
                            <p>MongoDB(DataBase)</p>
                            <p>SalesForce(User Management)</p>
                            <p>WSO2(Security management)</p>

                        </div>
                    </ng-container>
                </app-card>
            </div>
            <div class="col-md-3"
                (click)="openUrl('https://github.com/bhanupalagati/fake_data_analysis_with_ensembled_hybrid_algorithm.git')">
                <app-card>
                    <ng-container front>
                        <h1 class="cardHeader"> FAKE DATA ANALYSIS USING ENSEMBLED HYBRID ALGORITHM </h1>
                        <div class="cardContent">
                            <p>
                                This is a research project, the main aim is to bring an ensemble
                                algorithm with the help of 5 simple algorithms and pick the
                                classification based on voting.
                            </p>
                            <p>
                                As a result there is an increment of 10% accuracy score these
                                kind of algorithms can be useful in places where accuracy is of
                                vital.
                            </p>
                        </div>
                    </ng-container>
                    <ng-container back>
                        <h1 class="cardHeader">Tech Stack</h1>
                        <div class="cardContent remove_margin">
                            <p>Natural Language Processing</p>
                            <p>Naive Bayes</p>
                            <p>Support Vector Machine</p>
                            <p>Random Forest</p>
                            <p>K-Nearest Neighbors</p>
                            <p>Decision Tree</p>
                            <p>Logistic Regression</p>
                            <p>Django(User Interaction)</p>
                            <p>SQLite Database</p>
                            <h3 style="color: green;">Click to see Git Repo</h3>
                        </div>
                    </ng-container>
                </app-card>
            </div>
            <div class="col-md-3"
                (click)="openUrl('https://github.com/bhanupalagati/Accident_rescue_And_Immediate_intimation_system.git')">
                <app-card>
                    <ng-container front>
                        <h1 class="cardHeader"> ACCIDENT RESCUE AND IMMEDIATE INTIMATION SYSTEM </h1>
                        <div class="cardContent" style="font-size: 15px;">
                            <p>Millions of people are dying on roads just because they are not getting help on time</p>
                            <p>This is software imitation for the accident rescue, where all the
                                modules were developed, in which users can register his
                                details, once we receive any signal from the H/W (This is
                                mimicked) module we will intimate all the people like
                                ambulance, family, police and insurance makers.
                            </p>
                        </div>
                    </ng-container>
                    <ng-container back>
                        <h1 class="cardHeader">Tech Stack</h1>
                        <div class="cardContent">
                            <p>Python</p>
                            <p>TKinter( Desktop application Framework)</p>
                            <p>SQLite (DataBase)</p>
                            <p>SMTPLIB (email service)</p>
                            <p>Google Automated Mailing Service</p>
                            <h3 style="color: green; float: bottom;">Click to see Git Repo</h3>
                        </div>
                    </ng-container>
                </app-card>
            </div>


        </div>
    </div>
</div>



<div style="background-color: rgb(94, 94, 94); padding-bottom: 50px;">
    <div class="sectionHeader" style="padding-bottom: 50px;">
        <span style="border-bottom: 5px solid rgb(0, 255, 0); color: black;">Skills</span>
    </div>
    <table class="table table-dark table-striped" style="background-color: black; color: white;">
        <tbody>
            <tr *ngFor="let sets of skills">
                <td *ngFor="let skill of sets">
                    {{skill}}
                </td>
            </tr>
        </tbody>
    </table>
</div>