<div class="bgimg">
    <div class="textCenter">
        <p>Bhanu</p>
        <p>Palagati's</p>
        <p>Realm Begins</p>
    </div>
</div>


<div style="z-index: 999; background-color: white; padding-bottom: 50px;">
    <div class="sectionHeader" style="color: black;">
        <span style="border-bottom: 5px solid orange;">Personal Information</span>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align: right;">
            <img src="assets/personal_info.png" alt="" style="width: 150px;">
        </div>
        <div class="col-md-8" style="padding-top: 20px;">
            <p>This is a portfolio site. So, introducing me is the paramount of this site.</p>
            <p>I am Bhanu Palagati AND I am from Hyderabad, India.</p>
            <p>Please click on this section to know more about me. REALLY MORE!!!!!!!!</p>
        </div>
    </div>
</div>

<div style="background-color: gray; padding-bottom: 50px;">
    <div class="sectionHeader" style="color: white;">
        <span style="border-bottom: 5px solid orange;">Professional Information</span>
    </div>
    <div class="row">
        <div class="col-md-8" style="padding-top: 30px; text-align: right; color: white;">
            <p>How can we call a site portfolio site if that is not elucidating the professional Information</p>
            <p>I am a passionated Web Developer and a Data Scientist. </p>
            <p>Please click on this section to know about Work experience, Schooling, Cerifications, and Achievements</p>
        </div>
        <div class="col-md-4">
            <img src="assets/professional_info.png" alt="" style="width: 100px;">
        </div>
    </div>
</div>

<agm-map [latitude]="latitude" [longitude]="longitude" style="height: 500px;">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>